# Exploratory

Visualizar dados relevantes das arritmias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('/home/matheus/Documentos/Facul/IC/ECG_classification/ic-ecg/datasets/Total.csv')

In [6]:
arritmias = [270492004, 164889003, 164890007, 426627000, 713427006,
713426002,445118002,39732003,164909002,251146004,698252002,10370003,
284470004,427172004,164947007,111975006,164917005,47665007,59118001,
427393009,426177001,426783006,427084000,63593006,164934002,59931005,17338001]

In [10]:
df.loc[df['arquivos'] == 'HR13504']

,fs,sig_len,n_sig,base_date,base_time,units,sig_name,Age,Sex,Dx,Rx,Hx,Sx,arquivos,base
132612,500,5000,1,NaN,00:00:04,['mv'],['II'],62.0,Male,164884008,Unknown,Unknown,Unknown,HR13504,WFDB_PTBXL
132613,500,5000,1,NaN,00:00:04,['mv'],['II'],62.0,Male,426783006,Unknown,Unknown,Unknown,HR13504,WFDB_PTBXL

In [4]:
len(arritmias)

27

In [5]:
df.head()

,fs,sig_len,n_sig,base_date,base_time,units,sig_name,Age,Sex,Dx,Rx,Hx,Sx,arquivos,base
0,500,5000,1,NaN,00:00:24,['mV'],['II'],47.0,Female,426177001,Unknown,Unknown,Unknown,JS04442,WFDB_ChapmanShaoxing
1,500,5000,1,NaN,00:00:23,['mV'],['II'],41.0,Female,426177001,Unknown,Unknown,Unknown,JS00992,WFDB_ChapmanShaoxing
2,500,5000,1,NaN,00:00:23,['mV'],['II'],68.0,Female,427084000,Unknown,Unknown,Unknown,JS02338,WFDB_ChapmanShaoxing
3,500,5000,1,NaN,00:00:23,['mV'],['II'],41.0,Female,426177001,Unknown,Unknown,Unknown,JS01381,WFDB_ChapmanShaoxing
4,500,5000,1,NaN,00:00:23,['mV'],['II'],70.0,Male,426177001,Unknown,Unknown,Unknown,JS02487,WFDB_ChapmanShaoxing

In [6]:
a = 0
for x in range(10):
    if df['Dx'][x] == 426177001:
        a +=1
print(a)

7

In [7]:
df['Dx'][0]

426177001

In [8]:
frequencias = {}
str_arritmia = [str(x) for x in arritmias]

for x in str_arritmia:
    frequencias[x] = 0

In [9]:
frequencias

{'270492004': 0,
 '164889003': 0,
 '164890007': 0,
 '426627000': 0,
 '713427006': 0,
 '713426002': 0,
 '445118002': 0,
 '39732003': 0,
 '164909002': 0,
 '251146004': 0,
 '698252002': 0,
 '10370003': 0,
 '284470004': 0,
 '427172004': 0,
 '164947007': 0,
 '111975006': 0,
 '164917005': 0,
 '47665007': 0,
 '59118001': 0,
 '427393009': 0,
 '426177001': 0,
 '426783006': 0,
 '427084000': 0,
 '63593006': 0,
 '164934002': 0,
 '59931005': 0,
 '17338001': 0}

In [10]:
for x in range(len(df)):
    if str(df['Dx'][x]) in frequencias:
        frequencias[str(df['Dx'][x])] +=1

In [11]:
frequencias

{'270492004': 2765,
 '164889003': 4685,
 '164890007': 8188,
 '426627000': 289,
 '713427006': 1751,
 '713426002': 1450,
 '445118002': 2006,
 '39732003': 6691,
 '164909002': 1050,
 '251146004': 1225,
 '698252002': 1565,
 '10370003': 1481,
 '284470004': 2402,
 '427172004': 1279,
 '164947007': 392,
 '111975006': 516,
 '164917005': 1612,
 '47665007': 1197,
 '59118001': 2509,
 '427393009': 3335,
 '426177001': 17241,
 '426783006': 27219,
 '427084000': 8396,
 '63593006': 223,
 '164934002': 9410,
 '59931005': 3177,
 '17338001': 302}